*{
    font-family: 'Montserrat', sans-serif;
    background-color: aliceblue;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.btn-custom{
    background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden;
    outline:none;
    width: auto;
}

.btn-custom:hover{
    color: #e67e34;
}

.header{
    display: flex;
    justify-content: space-between;
    margin: 10px 4vw 0 4vw;
}

.shop{
    background-color: #e67e34;
    border: none;
    color: white;
    padding: 15px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.shop:hover{
    color: white;
}

.right-header{
    width: 250px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.left-navbar{
    display: flex;
    float: left;
    flex-direction: column;
    width: 90px;
    height: 200px;
    justify-content: space-between;
    margin-left: 50px;
    margin-top: 100px;
}

.social-media{
    margin-top: 50px;
    width: 100%;
    justify-content: space-between;
    display: flex;
    flex-direction: row;
}

#carousel{
    display: flex;
    justify-content: space-around;
    width: 800px;
    margin-left: 50px;
    padding-left: 20%;
}

main{
    display: flex;
    margin-top: 0;
    padding-top: 0;
}

.carousel-fade .carousel-item {
	opacity: 0;
	transition-duration: 1s;
	transition-property: opacity;
}

.carousel-fade .carousel-item.active,
.carousel-fade .carousel-item-next.carousel-item-left,
.carousel-fade .carousel-item-prev.carousel-item-right {
	opacity: 1;
}

.carousel-fade .active.carousel-item-left,
.carousel-fade .active.carousel-item-right {
	opacity: 0;
}

.carousel-fade .carousel-item-next,
.carousel-fade .carousel-item-prev,
.carousel-fade .carousel-item.active,
.carousel-fade .active.carousel-item-left,
.carousel-fade .active.carousel-item-prev {
	transform: translateX(0);
	transform: translate3d(0, 0, 0);
}

.main img{
    width: 250px;
    margin-bottom: 20px;
}

.women-shop{
    position: absolute;
    padding-left: 50px;
    padding-top: 10vh;
}

.show{
    display: block !important;
}

.addCart{
    display: none;
    color: white;
    padding: 3px;
    font-size: 14px;
    transition: .5s ease;
    opacity: 1;
    position: absolute;
    top: 40%;
    left: 40%;
    text-align: center;
    border: 1px solid white;
    background-color: #e67e34;
    border-radius: 12px;
}

.item{
    position: relative;
    align-items: center;
    justify-content: center;
}

.item img{
    display: block;
    margin-left: auto;
    margin-right: auto;
}